PGUSER=postgres

# PostgreSQL Password
# pass://Homelab/Ullecbot/PGPASSWORD
PGPASSWORD=your_postgres_password_here

# pass://Homelab/Ullecbot/DATABASE_URL
DATABASE_URL=postgresql://postgres:your_postgres_password_here@ullecbot-db:5432/bonfire
